* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Grenze', serif;
}
body {
	background: url("../../assets/images/pex1.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.container-fluid{
	background-color: rgba(252, 252,	244, 0.5);
	margin-top: 5%;
}

.card {
	width: 360px;
	height: 750px;
	margin-bottom: 20px;
	background-color: transparent;
}

.card:hover {
	background-color: #FFF3B0;
	color: black;
}

.card-text {
	font-size: 18px;
	color: black;
}

.card-title {
	font-size: 25px;
}

.form-control {
	background-color: transparent;
	border-color: grey;
}

h2 {
	font-family: 'Zhi Mang Xing', cursive;
	font-size: 70px;
	text-shadow: 4px 4px 10px black;
}

label {
	font-size: 20px;
	color: black;
}

.nav-link {
	font-size: 20px;
	color: white;
}

.nav-link:hover {
	background-color: #fff;
	border-radius: 5px;
}

img {
	width: 360px;
	height: 300px;
}

.log {
	margin-top: 10%;
	padding-bottom: 40px;
}

.footer {
	color: black;
	font-size: 18px;
}

.item {
	list-style-type: none;
}

.imgCart {
	width: 180px;
	height: 150px;
}

